@editions-fontColor: @gray-darken10;
@textSpacingToEmMultiplier: 0.001em;

// edition 2017
@edition2017-leadColor: #00CDEB;
@edition2017-fontFamily: 'Playfair Display', @fontFamily-base;
@edition2017-fontWeight: bold;
@edition2017-fontWeight-headliners: 900;
@edition2017-fontSize-headliners: 26px;
@edition2017-fontSize-lvl1: 15px;
@edition2017-fontSize-lvl2: 14px;
@edition2017-fontSize-others: 11px;
@edition2017-fontSize-othersSlice: 6px;
@edition2017-fontSize-otherArtists: 8px;
@edition2017-lineHeight-headliners: 26px;
@edition2017-lineHeight-lvl1: 15px;
@edition2017-lineHeight-lvl2: 14px;
@edition2017-lineHeight-others: 14px;
@edition2017-lineHeight-otherArtists: 8px;
@edition2017-textSpacing-headliners: 60 * @textSpacingToEmMultiplier;
@edition2017-textSpacing-lvl1: 11 * @textSpacingToEmMultiplier;
@edition2017-textSpacing-lvl2: -42 * @textSpacingToEmMultiplier;
@edition2017-textSpacing-others: -10 * @textSpacingToEmMultiplier;
@edition2017-textSpacing-otherArtists: 30 * @textSpacingToEmMultiplier;
@edition2017-separatorStyle: '/';
@edition2017-separatorSpace: 0.3em;
@edition2017-sectionsSpace: 13px;
@edition2017-sectionsSpace-otherArtists: 8px;
@edition2017-lvlSpace-headliners: 5px;
@edition2017-lvlSpace-lvl1: 5px;
@edition2017-lvlSpace-lvl2: 3px;

// edition 2016
@edition2016-leadColor: #964CA2;
@edition2016-fontFamily: 'Bebas Neue', @fontFamily-base;
@edition2016-fontFamily-headliners: 'Novecento Sans Wide', @fontFamily-base;
@edition2016-fontWeight: bold;
@edition2016-fontWeight-headliners: bold;
@edition2016-fontSize-headliners: 27px;
@edition2016-fontSize-lvl1: 23px;
@edition2016-fontSize-lvl2: 19px;
@edition2016-fontSize-lvl2Slice: 9px;
@edition2016-fontSize-others: 15px;
@edition2016-lineHeight-headliners: 29px;
@edition2016-lineHeight-lvl1: 24px;
@edition2016-lineHeight-lvl2: 21px;
@edition2016-lineHeight-lvl2Slice: 7px;
@edition2016-lineHeight-others: 17px;
@edition2016-textSpacing-lvl1: 16 * @textSpacingToEmMultiplier;
@edition2016-textSpacing-lvl2: 12 * @textSpacingToEmMultiplier;
@edition2016-textSpacing-others: 10 * @textSpacingToEmMultiplier;
@edition2016-separatorStyle: '|';
@edition2016-separatorSpace: 0.23em;
@edition2016-lvlSpace-headliners: 8px;
@edition2016-lvlSpace-lvl1: 10px;
@edition2016-lvlSpace-lvl2: 9px;

// edition 2015
@edition2015-leadColor: #6A259B;
@edition2015-fontFamily: 'Stag', @fontFamily-base;
@edition2015-fontWeight: normal;
@edition2015-fontWeight-canceled: 200;
@edition2015-fontWeight-headliners: bold;
@edition2015-fontWeight-promoted: bold;
@edition2015-fontSize-headliners: 26px;
@edition2015-fontSize-lvl1: 21px;
@edition2015-fontSize-lvl1Collapsed: 20px;
@edition2015-fontSize-lvl2: 15px;
@edition2015-fontSize-others: 11px;
@edition2015-fontSize-otherArtists: 10px;
@edition2015-lineHeight-headliners: 26px;
@edition2015-lineHeight-lvl1: 23px;
@edition2015-lineHeight-lvl2: 18px;
@edition2015-lineHeight-others: 11px;
@edition2015-lineHeight-otherArtists: 10px;
@edition2015-textSpacing-headliners: 8 * @textSpacingToEmMultiplier;
@edition2015-textSpacing-lvl1: 5 * @textSpacingToEmMultiplier;
@edition2015-textSpacing-lvl1Collapsed: 0;
@edition2015-textSpacing-lvl2: 11 * @textSpacingToEmMultiplier;
@edition2015-textSpacing-others: 5 * @textSpacingToEmMultiplier;
@edition2015-textSpacing-canceled: -40 * @textSpacingToEmMultiplier;
@edition2015-separatorSpace: 0.15em;
@edition2015-sectionsSpace: 19px;
@edition2015-sectionsSpace-otherArtists: 7px;
@edition2015-lvlSpace-headliners: -2px;
@edition2015-lvlSpace-lvl1: 0;
@edition2015-lvlSpace-lvl2: 1px;

// edition 2014
@edition2014-leadColor: #00ADCA;
@edition2014-fontColor-headliners: #1C3395;
@edition2014-fontFamily: 'Bebas Neue', @fontFamily-base;
@edition2014-fontFamily-headliners: 'Stag', @fontFamily-base;
@edition2014-fontWeight: normal;
@edition2014-fontWeight-headliners: bold;
@edition2014-fontSize-headliners: 38px;
@edition2014-fontSize-lvl1: 26px;
@edition2014-fontSize-lvl2: 20px;
@edition2014-fontSize-lvl2Canceled: 10px;
@edition2014-fontSize-others: 14px;
@edition2014-lineHeight-headliners: 41px;
@edition2014-lineHeight-lvl1: 28px;
@edition2014-lineHeight-lvl2: 19px;
@edition2014-lineHeight-lvl2Canceled: 10px;
@edition2014-lineHeight-others: 14px;
@edition2014-textSpacing-headliners: -6 * @textSpacingToEmMultiplier;
@edition2014-textSpacing-lvl1: -7 * @textSpacingToEmMultiplier;
@edition2014-textSpacing-lvl1Expanded: 10 * @textSpacingToEmMultiplier;
@edition2014-textSpacing-lvl1Collapsed: -25 * @textSpacingToEmMultiplier;
@edition2014-textSpacing-lvl2: -18 * @textSpacingToEmMultiplier;
@edition2014-textSpacing-lvl2Expanded: -8 * @textSpacingToEmMultiplier;
@edition2014-textSpacing-lvl2Collapsed: -40 * @textSpacingToEmMultiplier;
@edition2014-textSpacing-lvl2Canceled: 80 * @textSpacingToEmMultiplier;
@edition2014-textSpacing-others: 5 * @textSpacingToEmMultiplier;
@edition2014-separatorStyle: ',';
@edition2014-separatorSpace: 0.15em;
@edition2014-lvlSpace-headliners: 10px;
@edition2014-lvlSpace-lvl1: 2px;
@edition2014-lvlSpace-lvl2: 5px;

// edition 2013
@edition2013-leadColor: #BEF5FF;
@edition2013-fontFamily: 'Intro', @fontFamily-base;
@edition2013-fontWeight: normal;
@edition2013-fontSize-headliners: 26px;
@edition2013-fontSize-lvl1: 22px;
@edition2013-fontSize-lvl2: 16px;
@edition2013-fontSize-others: 13px;
@edition2013-fontSize-otherArtists: 10px;
@edition2013-lineHeight-headliners: 26px;
@edition2013-lineHeight-lvl1: 20px;
@edition2013-lineHeight-lvl2: 16px;
@edition2013-lineHeight-others: 13px;
@edition2013-lineHeight-otherArtists: 10px;
@edition2013-textSpacing-headliners-collapsed: -30 * @textSpacingToEmMultiplier;
@edition2013-textSpacing-lvl1: -10 * @textSpacingToEmMultiplier;
@edition2013-textSpacing-lvl2: 20 * @textSpacingToEmMultiplier;
@edition2013-textSpacing-others-collapsed: -30 * @textSpacingToEmMultiplier;
@edition2013-separatorStyle: ',';
@edition2013-separatorSpace: 0.15em;
@edition2013-sectionsSpace: 20px;
@edition2013-sectionsSpace-otherArtists: 13px;
@edition2013-lvlSpace-headliners: -2px;
@edition2013-lvlSpace-lvl1: 1px;

// edition 2012
@edition2012-leadColor: #A1C9E2;
@edition2012-fontFamily: 'Swiss 911', @fontFamily-base;
@edition2012-fontWeight: 900;
@edition2012-fontSize-headlinersDay1: 50px;
@edition2012-fontSize-headlinersDay2: @edition2012-fontSize-lvl1;
@edition2012-fontSize-headlinersDay3: 43px;
@edition2012-fontSize-headlinersDay4: 39px;
@edition2012-fontSize-lvl1: 47px;
@edition2012-fontSize-lvl1Day3: 40px;
@edition2012-fontSize-lvl1Day4: @edition2012-fontSize-headlinersDay4;
@edition2012-fontSize-lvl2: 31px;
@edition2012-fontSize-lvl3: 28px;
@edition2012-fontSize-lvl3Day4: 26px;
@edition2012-fontSize-lvl4: 23px;
@edition2012-fontSize-others: 19px;
@edition2012-lineHeight-headlinersDay1: 100%;
@edition2012-lineHeight-headlinersDay2: 100%;
@edition2012-lineHeight-headlinersDay3: 100%;
@edition2012-lineHeight-headlinersDay4: 100%;
@edition2012-lineHeight-lvl1: 100%;
@edition2012-lineHeight-lvl1Day3: 100%;
@edition2012-lineHeight-lvl1Day4: 100%;
@edition2012-lineHeight-lvl2: 100%;
@edition2012-lineHeight-lvl3: 100%;
@edition2012-lineHeight-lvl3Day4: 100%;
@edition2012-lineHeight-lvl4: 100%;
@edition2012-lineHeight-others: 100%;
@edition2012-textSpacing-headlinersDay1: 13 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-headlinersDay2: 13 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-headlinersDay3: -20 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-headlinersDay4: -30 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-lvl1Expanded: 25 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-lvl1Day3: -26 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-lvl1Day4: @edition2012-textSpacing-headlinersDay4;
@edition2012-textSpacing-lvl2: 0;
@edition2012-textSpacing-lvl2Expanded: 25 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-lvl2Collapsed: -27 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-lvl3: 30 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-lvl3Day4: 0;
@edition2012-textSpacing-lvl4: 23 * @textSpacingToEmMultiplier;
@edition2012-textSpacing-others: 7 * @textSpacingToEmMultiplier;
@edition2012-sectionsSpace: 10px;
@edition2012-lineSpace-line1: -7px;
@edition2012-lineSpace-line2: -4px;
@edition2012-lineSpace-line3: -2px;

// edition 2011
@edition2011-leadColor: #004F24;
@edition2011-fontColor-marked: #6A6A6A;
@edition2011-fontFamily: 'Tw Cen MT Condensed', @fontFamily-base;
@edition2011-fontWeight: 800;
@edition2011-fontSize-headliners: 55px;
@edition2011-fontSize-headlinersPromoted: 65px;
@edition2011-fontSize-lvl1: 30px;
@edition2011-fontSize-lvl2: 26px;
@edition2011-fontSize-lvl3: 14px;
@edition2011-fontSize-others: 11px;
@edition2011-lineHeight-headliners: 49px;
@edition2011-lineHeight-lvl1: 31px;
@edition2011-lineHeight-lvl2: 28px;
@edition2011-lineHeight-lvl3: 15px;
@edition2011-lineHeight-others: 14px;
@edition2011-textSpacing-headliners: -85 * @textSpacingToEmMultiplier;
@edition2011-textSpacing-headlinersPromoted: 10 * @textSpacingToEmMultiplier;
@edition2011-textSpacing-lvl1: -80 * @textSpacingToEmMultiplier;
@edition2011-textSpacing-lvl1Expanded: -30 * @textSpacingToEmMultiplier;
@edition2011-textSpacing-lvl1Collapsed: -95 * @textSpacingToEmMultiplier;
@edition2011-textSpacing-lvl2: -63 * @textSpacingToEmMultiplier;
@edition2011-textSpacing-lvl2Collapsed: -40 * @textSpacingToEmMultiplier;
@edition2011-textSpacing-lvl3: -85 * @textSpacingToEmMultiplier;
@edition2011-textSpacing-others: -75 * @textSpacingToEmMultiplier;
@edition2011-wordSpacing-lvl1Medium: 0.25em;
@edition2011-wordSpacing-lvl1Heavy: 0.5em;
@edition2011-wordSpacing-lvl2Medium: 0.4em;
@edition2011-wordSpacing-lvl2Heavy: 0.7em;
@edition2011-separatorStyle: '•';
@edition2011-separatorSize-headliners: 20px;
@edition2011-separatorSize-lvl1: 16px;
@edition2011-separatorSize-lvl2: 13px;
@edition2011-separatorSize-lvl3: 10px;
@edition2011-separatorSize-others: 8px;
@edition2011-sectionsSpace-headliners: 22px;
@edition2011-sectionsSpace-lvl1: 16px;
@edition2011-sectionsSpace-lvl2: 11px;
@edition2011-sectionsSpace-lvl3: 12px;

// edition 2010
@edition2010-leadColor: #004F24;
@edition2010-fontColor-marked: #6A6A6A;
@edition2010-fontFamily: 'Isonorm Becker', @fontFamily-base;
@edition2010-fontWeight: normal;
@edition2010-fontSize-headliners: 35px;
@edition2010-fontSize-lvl1: 30px;
@edition2010-fontSize-lvl2: 23px;
@edition2010-fontSize-lvl3: 18px;
@edition2010-fontSize-lvl4: 14px;
@edition2010-fontSize-others: 11px;
@edition2010-lineHeight-headliners: 38px;
@edition2010-lineHeight-lvl1: 33px;
@edition2010-lineHeight-lvl2: 27px;
@edition2010-lineHeight-lvl3: 21px;
@edition2010-lineHeight-lvl4: 17px;
@edition2010-lineHeight-others: 13px;
@edition2010-textSpacing-headliners: -20 * @textSpacingToEmMultiplier;
@edition2010-textSpacing-lvl1: -25 * @textSpacingToEmMultiplier;
@edition2010-textSpacing-lvl2: -20 * @textSpacingToEmMultiplier;
@edition2010-textSpacing-lvl2Collapsed: -30 * @textSpacingToEmMultiplier;
@edition2010-textSpacing-lvl3: -20 * @textSpacingToEmMultiplier;
@edition2010-textSpacing-lvl3Collapsed: -40 * @textSpacingToEmMultiplier;
@edition2010-textSpacing-lvl4: -29 * @textSpacingToEmMultiplier;
@edition2010-textSpacing-others: -60 * @textSpacingToEmMultiplier;
@edition2010-separatorStyle: '•';
@edition2010-separatorSpace: 0.15em;
@edition2010-separatorSize: 16px;
@edition2010-separatorSize-headliners: 17px;
@edition2010-separatorSize-lvl3: 14px;
@edition2010-separatorSize-lvl4: 11px;
@edition2010-separatorSize-others: 9px;
@edition2010-lvlSpace-headliners: 3px;
@edition2010-lvlSpace-lvl1: 5px;
@edition2010-lvlSpace-lvl2: 4px;
@edition2010-lvlSpace-lvl3: 4px;

// edition 2009
@edition2009-leadColor: #004F24;
@edition2009-fontColor-marked: #6A6A6A;
@edition2009-fontFamily: 'Isonorm Becker', @fontFamily-base;
@edition2009-fontWeight: normal;
@edition2009-fontSize-headliners: 32px;
@edition2009-fontSize-lvl1: 30px;
@edition2009-fontSize-lvl2: 23px;
@edition2009-fontSize-lvl3: 20px;
@edition2009-fontSize-lvl4: 14px;
@edition2009-fontSize-others: 11px;
@edition2009-lineHeight-headliners: 38px;
@edition2009-lineHeight-lvl1: 30px;
@edition2009-lineHeight-lvl2: 29px;
@edition2009-lineHeight-lvl3: 21px;
@edition2009-lineHeight-lvl4: 17px;
@edition2009-lineHeight-others: 13px;
@edition2009-textSpacing-lvl2: -5 * @textSpacingToEmMultiplier;
@edition2009-textSpacing-lvl2Collapsed: -25 * @textSpacingToEmMultiplier;
@edition2009-textSpacing-lvl4: 10 * @textSpacingToEmMultiplier;
@edition2009-separatorStyle: '•';
@edition2009-separatorSpace: 0.15em;
@edition2009-separatorSpace-headlinersPromoted: 0.4em;
@edition2009-separatorSpace-headliners: 0.15em;
@edition2009-separatorSpace-lvl1: 0.4em;
@edition2009-separatorSize: 16px;
@edition2009-separatorSize-headliners: 17px;
@edition2009-separatorSize-lvl3: 14px;
@edition2009-separatorSize-lvl4: 11px;
@edition2009-separatorSize-others: 9px;
@edition2009-lvlSpace-headliners: 5px;
@edition2009-lvlSpace-lvl1: 13px;
@edition2009-lvlSpace-lvl2: 10px;
@edition2009-lvlSpace-lvl3: 12px;
@edition2009-lvlSpace-lvl4: 12px;

// edition 2008
@edition2008-leadColor: #004F24;
@edition2008-fontFamily: 'Isonorm Becker', @fontFamily-base;
@edition2008-fontWeight: normal;
@edition2008-fontSize-headliners: 29px;
@edition2008-fontSize-lvl1: 21px;
@edition2008-fontSize-lvl2: 17px;
@edition2008-fontSize-lvl3: 13px;
@edition2008-fontSize-others: 11px;
@edition2008-lineHeight-headliners: 38px;
@edition2008-lineHeight-lvl1: 25px;
@edition2008-lineHeight-lvl2: 23px;
@edition2008-lineHeight-lvl3: 15px;
@edition2008-lineHeight-others: 13px;
@edition2008-textSpacing-lvl1: 20 * @textSpacingToEmMultiplier;
@edition2008-textSpacing-lvl1Canceled: 0 * @textSpacingToEmMultiplier;
@edition2008-textSpacing-lvl2: 20 * @textSpacingToEmMultiplier;
@edition2008-textSpacing-lvl2Expanded: 40 * @textSpacingToEmMultiplier;
@edition2008-textSpacing-lvl3: 20 * @textSpacingToEmMultiplier;
@edition2008-textSpacing-lvl3Expanded: 60 * @textSpacingToEmMultiplier;
@edition2008-textSpacing-others: 20 * @textSpacingToEmMultiplier;
@edition2008-separatorStyle: '•';
@edition2008-separatorStyle-others: ',';
@edition2008-separatorSpace: 0.2em;
@edition2008-separatorSpace-headliners: 0.3em;
@edition2008-separatorSize: 16px;
@edition2008-separatorSize-headliners: 17px;
@edition2008-separatorSize-lvl2: 14px;
@edition2008-separatorSize-lvl3: 10px;
@edition2008-separatorSize-others: inherit;
@edition2008-lvlSpace-headliners: 7px;
@edition2008-lvlSpace-lvl1: 3px;
@edition2008-lvlSpace-lvl2: 6px;
@edition2008-lvlSpace-lvl3: 7px;

// edition 2007
@edition2007-leadColor: #004F24;
@edition2007-fontFamily: 'Isonorm Becker', @fontFamily-base;
@edition2007-fontWeight: normal;
@edition2007-fontSize-headliners: 45px;
@edition2007-fontSize-lvl1: 25px;
@edition2007-fontSize-lvl2: 17px;
@edition2007-fontSize-lvl3: 12px;
@edition2007-fontSize-lvl4: 10px;
@edition2007-fontSize-others: 9px;
@edition2007-lineHeight-headliners: 45px;
@edition2007-lineHeight-lvl1: 35px;
@edition2007-lineHeight-lvl2: 17px;
@edition2007-lineHeight-lvl3: 24px;
@edition2007-lineHeight-lvl4: 10px;
@edition2007-lineHeight-others: 9px;
@edition2007-textSpacing-headliners: 10 * @textSpacingToEmMultiplier;
@edition2007-textSpacing-lvl1: 20 * @textSpacingToEmMultiplier;
@edition2007-textSpacing-lvl1Expanded: 40 * @textSpacingToEmMultiplier;
@edition2007-textSpacing-lvl2: 40 * @textSpacingToEmMultiplier;
@edition2007-textSpacing-others: 5;
@edition2007-separatorStyle: ',';
@edition2007-separatorStyle-alternative: '•';
@edition2007-separatorSpace: 0.27em;
@edition2007-separatorSpace-headliners: -0.09em;
@edition2007-separatorSpace-lvl1: -0.01em;
@edition2007-separatorSpace-lvl2: -0.05em;
@edition2007-separatorSize: inherit;
@edition2007-separatorSize-headliners: 36px;
@edition2007-separatorSize-lvl1: 19px;
@edition2007-separatorSize-lvl2: 14px;
@edition2007-lvlSpace-headliners: 9px;
@edition2007-lvlSpace-lvl1: 10px;
@edition2007-lvlSpace-lvl2: 3px;
@edition2007-lvlSpace-lvl3: 8px;
@edition2007-lvlSpace-lvl4: 6px;

// edition 2006
@edition2006-leadColor: #004F24;
@edition2006-fontFamily: 'Isonorm Becker', @fontFamily-base;
@edition2006-fontWeight: normal;
@edition2006-fontSize-headliners: 35px;
@edition2006-fontSize-headlinersSlice: 20px;
@edition2006-fontSize-lvl2: 20px;
@edition2006-fontSize-lvl2Canceled: 18px;
@edition2006-fontSize-others: 12px;
@edition2006-fontSize-otherArtists: 13px;
@edition2006-lineHeight-headliners: 35px;
@edition2006-lineHeight-lvl2: 20px;
@edition2006-lineHeight-others: 15px;
@edition2006-lineHeight-otherArtists: 15px;
@edition2006-textSpacing-headliners: 10 * @textSpacingToEmMultiplier;
@edition2006-textSpacing-headlinersSlice: 0 * @textSpacingToEmMultiplier;
@edition2006-textSpacing-lvl2: 25 * @textSpacingToEmMultiplier;
@edition2006-textSpacing-lvl2Canceled: -10 * @textSpacingToEmMultiplier;
@edition2006-textSpacing-others: 15 * @textSpacingToEmMultiplier;
@edition2006-textSpacing-otherArtists: 15 * @textSpacingToEmMultiplier;
@edition2006-separatorStyle: ',';
@edition2006-separatorSpace: 0.24em;
@edition2006-lvlSpace-daily: 13px;

// edition 2005
@edition2005-leadColor: #004F24;
@edition2005-fontFamily: 'Isonorm Becker', @fontFamily-base;
@edition2005-fontWeight: normal;
@edition2005-fontSize-headliners: 40px;
@edition2005-fontSize-lvl1: 30px;
@edition2005-fontSize-lvl2: 18px;
@edition2005-fontSize-others: 13px;
@edition2005-fontSize-otherArtists: 11px;
@edition2005-lineHeight-headliners: 34px;
@edition2005-lineHeight-headlinersPromoted: 37px;
@edition2005-lineHeight-lvl1: 28px;
@edition2005-lineHeight-lvl2: 16px;
@edition2005-lineHeight-others: 16px;
@edition2005-lineHeight-otherArtists: 16px;
@edition2005-textSpacing-headlinersPromoted: 20 * @textSpacingToEmMultiplier;
@edition2005-textSpacing-lvl1: 20 * @textSpacingToEmMultiplier;
@edition2005-textSpacing-lvl2: 60 * @textSpacingToEmMultiplier;
@edition2005-textSpacing-otherArtists: 10 * @textSpacingToEmMultiplier;
@edition2005-separatorStyle: ',';
@edition2005-separatorStyle-daily: '•';
@edition2007-separatorSize: inherit;
@edition2007-separatorSize-daily: 22px;
@edition2005-separatorSpace: 0.2em;
@edition2005-separatorSpace-daily: 0.34em;
@edition2005-separatorSpace-lvl2: 0.1em;
@edition2006-lvlSpace-daily: 32px;
@edition2006-lvlSpace-others: 24px;

// edition 2004
@edition2004-leadColor: #004F24;
@edition2004-fontFamily: 'Arial Black', @fontFamily-base;
@edition2004-fontWeight: normal;
@edition2004-fontSize-headliners: 25px;
@edition2004-fontSize-lvl1: 22px;
@edition2004-fontSize-lvl2: 17px;
@edition2004-fontSize-lvl3: 11px;
@edition2004-fontSize-others: 11px;
@edition2004-lineHeight-headliners: 25px;
@edition2004-lineHeight-lvl1: 22px;
@edition2004-lineHeight-lvl2: 17px;
@edition2004-lineHeight-lvl3: 15px;
@edition2004-lineHeight-others: 15px;
@edition2004-separatorStyle: '•';
@edition2004-separatorSize: 12px;
@edition2004-separatorSize-headliners: 30px;
@edition2004-separatorSpace: 0.25em;
@edition2004-sectionSpace: 43px;
@edition2004-lineSpace-line2: 12px;
@edition2004-lineSpace-line3: 6px;
@edition2004-lineSpace-line4: 13px;

// edition 2003
@edition2003-leadColor: #004F24;
@edition2003-fontFamily: 'Heebo', @fontFamily-base;
@edition2003-fontWeight: 900;
@edition2003-fontSize-headliners: 43px;
@edition2003-fontSize-lvl1: 18px;
@edition2003-fontSize-others: 12px;
@edition2003-lineHeight-headliners: 47px;
@edition2003-lineHeight-lvl1: 24px;
@edition2003-lineHeight-others: 12px;
@edition2003-textSpacing-headliners: -40 * @textSpacingToEmMultiplier;
@edition2003-textSpacing-lvl1: -25 * @textSpacingToEmMultiplier;
@edition2003-lvlSpace-headliners: 4px;
@edition2003-lvlSpace-lvl1: 2px;

// edition 2002
@edition2002-leadColor: #004F24;
@edition2002-fontFamily: 'AG Book Rounded', @fontFamily-base;
@edition2002-fontWeight: bold;
@edition2002-fontSize-headliners: 42px;
@edition2002-fontSize-others: 23px;
@edition2002-lineHeight-headliners: 47px;
@edition2002-lineHeight-others: 24px;
@edition2002-textSpacing-others: 10 * @textSpacingToEmMultiplier;
@edition2002-separatorStyle: '/';
@edition2002-separatorSpace: 0.3em;
@edition2002-lvlSpace-hedliners: 25px;
