// interface fonts
@font-face {
	font-family: 'ADAM.CG PRO';
	src: url('/fonts/adam.cg-pro-webfont.woff2') format('woff2'),
		 url('/fonts/adam.cg-pro-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato-regular-webfont.woff2') format('woff2'),
		 url('/fonts/lato-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato-bold-webfont.woff2') format('woff2'),
		 url('/fonts/lato-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato-black-webfont.woff2') format('woff2'),
		 url('/fonts/lato-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

// lineup fonts
@font-face {
	font-family: 'AG Book Rounded';
	src: url('/fonts/ag-book-rounded-bold-webfont.woff2') format('woff2'),
		 url('/fonts/ag-book-rounded-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/bebas-neue-bold-webfont.woff2') format('woff2'),
		 url('/fonts/bebas-neue-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Heebo';
	src: url('/fonts/heebo-black-webfont.woff2') format('woff2'),
		 url('/fonts/heebo-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: url('/fonts/intro-webfont.woff2') format('woff2'),
		 url('/fonts/intro-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Isonorm Becker';
	src: url('/fonts/isonorm-becker-webfont.woff2') format('woff2'),
		 url('/fonts/isonorm-becker-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Novecento Sans Wide';
	src: url('/fonts/novecento-sans-wide-bold-webfont.woff2') format('woff2'),
		 url('/fonts/novecento-sans-wide-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/playfair-display-bold-webfont.woff2') format('woff2'),
		 url('/fonts/playfair-display-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/playfair-display-black-webfont.woff2') format('woff2'),
		 url('/fonts/playfair-display-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('/fonts/stag-light-webfont.woff2') format('woff2'),
		 url('/fonts/stag-light-webfont.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('/fonts/stag-book-webfont.woff2') format('woff2'),
		 url('/fonts/stag-book-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Stag';
	src: url('/fonts/stag-bold-webfont.woff2') format('woff2'),
		 url('/fonts/stag-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Swiss 911 BT Extra Compressed';
	src: url('/fonts/swiss-911-bt-extra-compressed-webfont.woff2') format('woff2'),
		 url('/fonts/swiss-911-bt-extra-compressed-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tw Cen MT Condensed';
	src: url('/fonts/tw-cen-mt-condensed-extra-bold-webfont.woff2') format('woff2'),
		 url('/fonts/tw-cen-mt-condensed-extra-bold-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
