.separateBorder(@size: 10px, @color: @gray-lighten65, @stretch: false, @marginRight: @separatorOffset, @marginLeft: @separatorOffset) {
	content: '';
	width: @size;
	height: 1px;
	margin-right: @marginRight;
	margin-left: @marginLeft;
	background: @color;

	& when (@stretch = false) {
		display: block;
	}

	& when (@stretch = true) {
		display: flex;
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 0;
	}
}