.dialogbox {
	display: none;
	align-self: center;
	justify-self: center;

	&--bg-stretched {
		&:before {
			.strechPosition();
			content: '';
			z-index: 0;
			background: fade(#fff, 97%);
		}

		.dialogbox__header,
		.dialogbox__content {
			position: relative;
			z-index: 1;
		}
	}

	&--stretched {
		.strechPosition();
		z-index: 2;
		background: fade(#fff, 97%);
	}
	&--isVisible {
		display: block;
	}

	&__header {
		display: flex;
		margin-bottom: 7px;
		align-items: center;
		flex-direction: row;

		&:after {
			.separateBorder(@stretch: true);
			margin-top: -1px;
			order: 2;
		}
	}
	&__headline {
		order: 1;
	}
	&__close {
		order: 3;
	}

	&__inactive-helper {
		opacity: 0.03;
		pointer-events: none;
	}
}
