<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="">
<meta name="rating" content="general">
<meta name="robots" content="index, follow">
<meta name="Description" content="">
<meta name="Keywords" content="">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<title>Was it raining at the Open'er festival?</title>
</head>

<body id="wiraof">
    <main id="editionDetails">
    </main>
    <footer id="footer">
        <p>&copy; 2017, made by <a href="http://bartoszdebicki.com" target="_blank">Bartosz Dębicki</a>.</p>
        <nav id="bottomNavigation">
            <ul>
                <li><a href="#" title="about project">About</a></li>
                <li><a href="#" title="cookie">Cookie</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
