#bgVideo {
	.strechPosition();
	z-index: -1;
	background-image: url('/images/bg-img.png');
	background-size: cover;
	overflow: hidden;

	@supports (object-fit: cover) {
		.bgVideo__video {
			display: none; // temporary hide video for development
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}