#editionDetails {
	grid-area: edition;
	align-self: center;
	justify-self: center;

	.editionDetails {
		&__year {

		}
		&__fullName {

		}
		&__date {

		}
		&__place {

		}
		&__headliners {

		}
		&__lineupDetailsLink {

		}
	}
}
