#editionDetails {
	grid-area: edition;
	align-self: center;
	justify-self: center;

	.editionDetails {
		&__year {
			margin-bottom: 6px;
		}
		&__fullName {
			font-family: 'ADAM.CG PRO', sans-serif;
			font-size: @fontSize-l;
			font-weight: normal;
			letter-spacing: 0.3px;
			line-height: @lineHeight-l;
		}
		&__date {

		}
		&__place {

		}
		&__headliners {

		}
		&__lineupDetailsLink {

		}
	}
}
