#editionDetails {
	grid-area: edition;
	align-self: center;
	justify-self: center;
}
.editionDetails {
	&__year {
		margin-bottom: 6px;
	}
	&__fullName {
		margin-bottom: 22px;
		padding-bottom: 10px;
		position: relative;
		font-family: 'ADAM.CG PRO', sans-serif;
		font-size: @fontSize-l;
		font-weight: normal;
		letter-spacing: 0.3px;
		line-height: @lineHeight-l;

		&:after {
			.separateBorder(@size: 150px, @marginRight: 0, @marginLeft: 0);
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	&__date,
	&__place {
		color: @gray-lighten10;
		font-size: @fontSize-s;
		line-height: @lineHeight-s;
	}
}
.shortLineup {
	display: flex;
	width: 335px;
	margin-top: 8px;
	flex-direction: column;
	justify-content: flex-end;

	&__headliners {
		display: flex;
		margin-bottom: 6px;
		flex-wrap: wrap;
		color: @gray-lighten35;
		font-size: @fontSize-xl;
		text-transform: uppercase;
	}
	&__detailsLink {
		display: flex;
		justify-content: flex-end;
	}
}
.headliner {
	position: relative;
	white-space: nowrap;
}
