.editionDetails--edition2005 {
	.editionDetails__fullName {
		&:after {
			background: @edition2005-leadColor;
		}
	}

	.shortLineup {
		width: 310px;
		&__headliners {
			font-family: @edition2005-fontFamily;
		}
	}

	.headliners {
		&__headliner {
			&:not(:first-of-type):not(:last-of-type):not(:nth-child(4)) {
				&:before {
					content: @edition2005-separatorStyle-daily;
				}
			}
		}
	}
}
