@footerHeight: 50px;

#footer {
	display: flex;
	height: @footerHeight;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	justify-content: space-between;
}

#bottomNavigation {
	ul {
		display: flex;
		flex-direction: row;

		li {
			+ li {
				margin-left: 10px;
			}
		}
	}
}