@topHeight: 40px;

#header {
	display: flex;
	height: @topHeight;
	flex-direction: row;
	grid-area: header;

	#introView & {
		grid-area: intro;
	}

	.pageName {
		margin-right: 10px;

		&__link {
			#introView & {
				color: #fff;
			}
		}
	}
}
