@bodyOffset: 20px;
@mainContentWidth: 1100px;

#wiraof {
	display: grid;
	grid-column-gap: 0;
	grid-row-gap: 0;
	overflow: hidden;

	&:not(.wiraof--introView) {
		grid-template-columns: @bodyOffset minmax(@bodyOffset, auto) @mainContentWidth minmax(@bodyOffset, auto) @bodyOffset;
		grid-template-rows: @bodyOffset @topHeight auto @footerHeight @bodyOffset;
		grid-template-areas: ". . . . ."
						 	 ". . header . ."
						 	 ". . details . ."
						 	 ". . footer . ."
						 	 ". . . . .";
	}
	&.wiraof--introView {
		grid-template-columns: @bodyOffset auto @mainContentWidth auto @bodyOffset;
		grid-template-rows: @bodyOffset auto @footerHeight @bodyOffset;
		grid-template-areas: ". . . . ."
						 	 ". . intro . ."
						 	 ". . footer . ."
						 	 ". . . . .";
	}
}
