.lineup--edition2002 {
	.dialogbox__header:after {
		background: @edition2002-leadColor;
	}
}

.lineupArtists--edition2002 {
	font-family: @edition2002-fontFamily;
	font-weight: @edition2002-fontWeight;
	text-transform: uppercase;

	.lineupArtists {
		&__lvl {
			max-width: 315px;
			justify-content: left;
		}

		&__artist {
			&--headliner {
				font-size: @edition2002-fontSize-headliners;
				line-height: @edition2002-lineHeight-headliners;
			}
			&--others {
				font-size: @edition2002-fontSize-others;
				letter-spacing: @edition2002-textSpacing-others;
				line-height: @edition2002-lineHeight-others;
			}
		}
	}
}
