#lineup {
	&,
	&:before {
		grid-area: edition;
	}

	.dialogbox__header:after {
		.lineup--edition2017& {
			background: @edition2017-leadColor;
		}
		.lineup--edition2016& {
			background: @edition2016-leadColor;
		}
		.lineup--edition2015& {
			background: @edition2015-leadColor;
		}
		.lineup--edition2014& {
			background: @edition2014-leadColor;
		}
		.lineup--edition2013& {
			background: @edition2013-leadColor;
		}
		.lineup--edition2012& {
			background: @edition2012-leadColor;
		}
		.lineup--edition2011& {
			background: @edition2011-leadColor;
		}
		.lineup--edition2010& {
			background: @edition2010-leadColor;
		}
		.lineup--edition2009& {
			background: @edition2009-leadColor;
		}
		.lineup--edition2008& {
			background: @edition2008-leadColor;
		}
		.lineup--edition2007& {
			background: @edition2007-leadColor;
		}
		.lineup--edition2006& {
			background: @edition2006-leadColor;
		}
		.lineup--edition2005& {
			background: @edition2005-leadColor;
		}
		.lineup--edition2004& {
			background: @edition2004-leadColor;
		}
		.lineup--edition2003& {
			background: @edition2003-leadColor;
		}
		.lineup--edition2002& {
			background: @edition2002-leadColor;
		}
	}
}

.lineupArtists {
	margin-top: 13px;

	&__lvl {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__newLine {
		height: 0;
		flex-basis: 100%;
		overflow: hidden;
	}

	&__artist {
		&--canceled {
			position: relative;
			opacity: 0.5;

			&:before {
				content: '';
				height: 1px;
				position: absolute;
				top: ~'calc(50% - 2px)';
				right: 0;
				left: 0;
				background: currentColor;
			}
		}
		&--replacement {
			text-decoration: overline;
		}
	}

	&--edition2017 {
		font-family: @edition2017-fontFamily;
		font-weight: @edition2017-fontWeight;
		text-transform: uppercase;

		.lineupArtists {
			&__day {
				&:not(:last-child) {
					margin-bottom: @edition2017-sectionsSpace;
				}
			}

			&__lvl {
				max-width: 390px;

				&--headliners {
					margin-bottom: @edition2017-lvlSpace-headliners;
				}
				&--lvl1 {
					margin-bottom: @edition2017-lvlSpace-lvl1;
				}
				&--lvl2 {
					margin-bottom: @edition2017-lvlSpace-lvl2;
				}
			}

			&__artist {
				&:not(:only-child):not(.lineupArtists__artist--firstOnLine) {
					&:before {
						content: @edition2017-separatorStyle;
						margin-right: @edition2017-separatorSpace;
						margin-left: @edition2017-separatorSpace;
						color: @edition2017-leadColor;
						font-weight: @edition2017-fontWeight-headliners;
					}
				}
				&--headliner {
					font-size: @edition2017-fontSize-headliners;
					font-weight: @edition2017-fontWeight-headliners;
					letter-spacing: @edition2017-textSpacing-headliners;
					line-height: @edition2017-lineHeight-headliners;
				}
				&--lvl1 {
					font-size: @edition2017-fontSize-lvl1;
					letter-spacing: @edition2017-textSpacing-lvl1;
					line-height: @edition2017-lineHeight-lvl1;
				}
				&--lvl2 {
					font-size: @edition2017-fontSize-lvl2;
					letter-spacing: @edition2017-textSpacing-lvl2;
					line-height: @edition2017-lineHeight-lvl2;
				}
				&--others {
					font-size: @edition2017-fontSize-others;
					letter-spacing: @edition2017-textSpacing-others;
					line-height: @edition2017-lineHeight-others;
				}
			}
		}
	}
	&--edition2016 {
		font-family: @edition2016-fontFamily;
		font-weight: @edition2016-fontWeight;
		text-transform: uppercase;

		.lineupArtists {
			&__lvl {
				max-width: 495px;

				&--headliners {
					margin-bottom: @edition2016-lvlSpace-headliners;
				}
				&--lvl1 {
					margin-bottom: @edition2016-lvlSpace-lvl1;
				}
				&--lvl2 {
					margin-bottom: @edition2016-lvlSpace-lvl2;
				}
			}

			&__artist {
				&:not(:only-child):not(.lineupArtists__artist--firstOnLine) {
					&:before {
						content: @edition2016-separatorStyle;
						margin-right: @edition2016-separatorSpace;
						margin-left: @edition2016-separatorSpace;
						color: @edition2016-leadColor;
					}
				}
				&--headliners {
					font-family: @edition2016-fontFamily-headliners;
					font-size: @edition2016-fontSize-headliners;
					font-weight: @edition2016-fontWeight-headliners;
					line-height: @edition2016-lineHeight-headliners;
				}
				&--lvl1 {
					font-size: @edition2016-fontSize-lvl1;
					letter-spacing: @edition2016-textSpacing-lvl1;
					line-height: @edition2016-lineHeight-lvl1;
				}
				&--lvl2 {
					font-size: @edition2016-fontSize-lvl2;
					letter-spacing: @edition2016-textSpacing-lvl2;
					line-height: @edition2016-lineHeight-lvl2;
				}
				&--others {
					font-size: @edition2016-fontSize-others;
					line-height: @edition2016-lineHeight-others;
				}
			}

			&__slice {
				font-size: @edition2016-fontSize-lvl2Slice;
				line-height: @edition2016-lineHeight-lvl2Slice;

				&--multiline {
					display: inline-block;
					width: 36px;
				}
			}
		}
	}
	&--edition2015 {
		font-family: @edition2015-fontFamily;
		font-weight: @edition2015-fontWeight;
		text-transform: uppercase;

		.lineupArtists {
			&__day {
				&:not(:last-child) {
					margin-bottom: @edition2015-sectionsSpace;
				}
			}

			&__lvl {
				width: 490px;

				&--headliners {
					margin-bottom: @edition2015-lvlSpace-headliners;
				}
				&--lvl1 {
					margin-bottom: @edition2015-lvlSpace-lvl1;
				}
				&--lvl2 {
					margin-bottom: @edition2015-lvlSpace-lvl2;
				}
			}

			&__artist {
				&:not(:only-child):not(.lineupArtists__artist--firstOnLine) {
					margin-left: @edition2015-separatorSpace;
				}

				&--headliner {
					font-size: @edition2015-fontSize-headliners;
					font-weight: @edition2015-fontWeight-headliners;
					letter-spacing: @edition2015-textSpacing-headliners;
					line-height: @edition2015-lineHeight-headliners;
				}
				&--lvl1 {
					font-size: @edition2015-fontSize-lvl1;
					letter-spacing: @edition2015-textSpacing-lvl1;
					line-height: @edition2015-lineHeight-lvl1;
				}
				&--lvl2 {
					font-size: @edition2015-fontSize-lvl2;
					letter-spacing: @edition2015-textSpacing-lvl2;
					line-height: @edition2015-lineHeight-lvl2;
				}
				&--others {
					font-size: @edition2015-fontSize-others;
					letter-spacing: @edition2015-textSpacing-others;
					line-height: @edition2015-lineHeight-others;
				}
				&--canceled {
					font-weight: @edition2015-fontWeight-canceled;
					letter-spacing: @edition2015-textSpacing-canceled;
				}
				&--marked {
					color: @edition2015-leadColor;
				}
				&--promoted {
					font-weight: @edition2015-fontWeight-promoted;
				}
			}
		}
	}
}
