#navTimeline {
	@navTimelineSize: 215px;
	@navTimelineBorderSize: 1px;

	.editionsList {
		display: flex;
		flex-direction: row;
	}

	.edition {
		+ .edition {
			margin-left: 10px;
		}
	}
}

#wiraof:not(.wiraof--introView) {
	#mainTimeline {
		display: none;
	}
}