#navTimeline {
	@navTimelineSize: 215px;
	@navTimelineBorderSize: 1px;

	.navEditionsList {
		display: flex;
		flex-direction: row;
	}

	.navEdition {
		+ .navEdition {
			margin-left: 10px;
		}
	}
}
