#timeline {
	[data-view='intro'] & {
		grid-area: details;
	}

	.editions {
		display: flex;
		flex-direction: row;

		.edition {
			display: flex;

			+ .edition {
				margin-left: 10px;
			}
		}
	}
}
