#timeline {
	.wiraof--introView & {
		grid-area: intro;
	}

	.editionsList {
		display: flex;
		flex-direction: row;

		.edition {
			display: flex;

			+ .edition {
				margin-left: 10px;
			}

			&__link {
				.wiraof--introView & {
					color: #fff;
				}
			}
		}
	}
}
